<div class="row">
    <div>
        **Contact us:**
        <br><a href="mailto:Obioma.Pelka@uk-essen.de" style="color: #1AC2EF !important;">Dr. Obioma Pelka</a> <br>
Coordinator OMI<br>
University Hospital Essen<br>
Institute for AI in Medicine<br>
Data Integration Center<br>
Girardetstraße 2, 
45131 Essen<br>
    </div>
    <div class="avatar">
        <a href="https://www.bmbf.de/bmbf/en/home/home_node.html"><img src="/images/UME-6.svg" width="200" height="100"></a>
    </div>
    <div class="avatar">
        <a href="https://www.medizininformatik-initiative.de/en/start"><img src="/images/UME-5.svg"></a>
    </div>
</div>
