
<footer class="site-footer">
    <hr style="height:2px;border-width:0;color:#f45b59;background-color:#f45b59" />
  <div class="row">
    <hr />
    <div>
        **Contact us:**
        <!--<br><a href="mailto:Obioma.Pelka@uk-essen.de" style="color: #1AC2EF !important;">Dr. Obioma Pelka</a> <br> --> 
        <br><a href="mailto:Obioma.Pelka@uk-essen.de" style="color: #1AC2EF !important;">OMI Coordination</a><br>
University Hospital Essen<br>
Institute for AI in Medicine<br>
Data Integration Center<br>
Girardetstraße 2,
45131 Essen<br>
    </div>
    <div class="avatar">
        <a href="https://www.bmbf.de/bmbf/en/home/home_node.html"><img src="/images/bmbf-en.png"></a>
    </div>
    <div class="avatar">
        <a href="https://www.medizininformatik-initiative.de/en/start"><img src="UME-5-2.png"></a>
    </div>
</div>

</footer>
